@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Rubik+Bubbles&display=swap');

body {
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 2rem;
    overflow: hidden;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.imagem-exibicao {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100%;            /* Certifique-se de que a altura da div é suficiente */
    border-radius: 15px;
}

.titulos {
    color: rgb(168, 93, 0);
}

#borda{  
    border: 5px solid darkorange;
    border-radius: 15px;
}

.nav-img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-align: center;
}

.navbar {
    background: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-toggler {
    border: none
}

footer {
    background-color: #ffffffa1;
    color: #000000;
    padding: 20px;
    margin-top: 100px;
}

@media (min-width: 768px) {
    .borda-footer {
        border-right: 2px solid darkorange;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .borda-footer {
        border-right: none;
        border-bottom: 2px solid darkorange;
        margin-bottom: 20px;
    }
}


/* botao que contem logo/imagem presente no rodapé*/
.footer-logo{
    text-decoration: none;
    transition: transform 1.0s ease, filter 1.0s ease;
}

.footer-logo:hover img {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    filter: brightness(1.5); /* Aumenta o brilho em 50% */
}

/* tipo de botão que contem um icon como os de rede sociais*/
.icon {
    transition: transform 0.3s ease;
}
.icon:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Adiciona uma sombra */
}

/* tipo de botão que contem um texto*/
.custom-button {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    display: inline-block; /* Exibe o botão como um elemento inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    border-radius: 8px; /* Cantos arredondados */
}

.custom-button:hover {
background-color: #45a049; /* Cor de fundo quando o cursor está sobre o botão */
}

/* garantia de responsividade para iframe da página de localização */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}