.header_secundario{
    background-color: darkorange;
    background-size: cover;
    background-position: top center;
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding seja incluído no tamanho total do header */
    height: 200px;
    filter: brightness(0) invert(1);
    filter: opacity(0.75); 
    display: flex;
}

.texto-titulo {
    text-align: start;
    font-size: 80px; /* Ajusta a fonte com base na largura da viewport */
    font-weight: bolder;
    color: #FFFFFF;
}

/* Consulta de mídia para dispositivos pequenos */
@media (max-width: 576px) {
    .texto-titulo {
        font-size: 8vw;
        text-align: start;
    }

    .header_secundario {
        height: 150px;
    }
}

/* Consulta de mídia para dispositivos médios */
@media (min-width: 577px) and (max-width: 768px) {
    .texto-titulo {
        font-size: 7vw;
        text-align: start;
    }

    .header_secundario {
        height: 180px;
    }
}

/* Consulta de mídia para dispositivos grandes */
@media (min-width: 769px) and (max-width: 992px) {
    .texto-titulo {
        font-size: 6vw;
    }

    .header_secundario {
        height: 200px;
    }
}

/* Consulta de mídia para dispositivos extra grandes */
@media (min-width: 993px) {
    .texto-titulo {
        font-size: 5vw;
    }

    .header_secundario {
        height: 200px;
    }
}

/* possivel bloco de header para a página inicial.
.index{
    background-image: url("/imgs/");
    background-size: cover;
    background-position: top center;
    height: 200px;
    filter: brightness(0) invert(1);
    filter: opacity(0.75);
} */