@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Rubik+Bubbles&display=swap');

body {
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.imagem-exibicao {
    display: flex;
    justify-content: center; 
    align-items: start;    
}
.imagem-exibicao img{ 
    width: 100%;          
    border-radius: 15px;
}

/* definição de fonte afim de ser igual ao da Logo */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
.titulo {
    color: rgb(11, 158, 11);
    font-size: 4rem;
    font-family: 'Gotham';
    font-weight: bold;
}

.subtitulo{
    color: rgb(0, 175, 9);
}

.description {
    margin-top: 10px;
    font-size: 1em;
    color: #333; 
    text-align: center;
  }

#borda{  
    border: 5px solid darkorange;
    border-radius: 15px;
}

.nav-img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-align: center;
}

.navbar {
    background: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-toggler {
    border: none
}

footer {
    background-color: #ffffffa1;
    color: #000000;
    padding: 20px;
    margin-top: 100px;
}

@media (min-width: 768px) {
    .borda-footer {
        border-right: 2px solid darkorange;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .borda-footer {
        border-right: none;
        border-bottom: 2px solid darkorange;
        margin-bottom: 20px;
    }
}


/* botao que contem logo/imagem presente no rodapé*/
.footer-logo{
    text-decoration: none;
    transition: transform 1.0s ease, filter 1.0s ease;
}

.footer-logo:hover img {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    filter: brightness(1.5); /* Aumenta o brilho em 50% */
}

/* tipo de botão que contem um icon como os de rede sociais*/
.icon {
    transition: transform 0.3s ease;
    height: 70px;
}
.icon:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Adiciona uma sombra */
}

/* tipo de botão que contem um texto*/
.custom-button {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    width: fit-content;
    padding: 10px 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    display: inline-block; /* Exibe o botão como um elemento inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    border-radius: 8px; /* Cantos arredondados */
}

.custom-button:hover {
background-color: #45a049; /* Cor de fundo quando o cursor está sobre o botão */
}

/* garantia de responsividade para iframe da página de localização */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 por 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* Trecho responsavel por padronizar tudo que tem borda (telas que forem incorporadas) */
#borda{
    height: 40rem;
    width: 100%;
}

/* trecho responsavel para o bloco onde se encontra a origem da empresa. */
.elevated-block {
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.elevated-block img {
    max-width: 100%;
    height: 10rem;
    margin-bottom: 15px;
}

.elevated-block p {
    margin: 0;
}

/* Trecho que faz o background de divisão de conteúdo do index.html */
/* .background {
    background-color: rgba(128, 128, 128, 0.062);
    background-size: cover;
    background-position: top center;
    height: 31rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
} */

.side-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    text-align: center;
}

.central-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.central-image img {
    height: 20rem;
}