/*text-container -> serve para a animação do texto a ser exibido gradualmene via toggle-btn */
.text-container {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden; /* Oculta o conteúdo antes da animação */
    transition: height 1s ease-out, opacity 1s ease-out, visibility 1s ease-out;
}

.text-container.visible {
    height: auto; /* Permite que o conteúdo defina a altura */
    opacity: 1;
    visibility: visible;
    transition: height 1s ease-out, opacity 1s ease-out, visibility 0s ease-out;
}

/* trecho responsavel pela animação de rolagem de texto horizontalmente */
.scroll-in-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    /* font-size: 2em; */
    animation: scroll-in 3s linear forwards, fade-in 3s linear forwards;
}

@keyframes scroll-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    0% {
      opacity: 0.2; /* Começa opaco */
    }
    100% {
      opacity: 1; /* Termina totalmente opaco */
    }
  }
  
/* trecho responsavel pela animação de rolagem de texto verticalmente */
.scroll-up-text {
    display: inline-block;
    /* position: relative; */
    animation: scroll-up 3s linear forwards, fade-in 3s linear forwards;
    opacity: 0;
  }
  
  @keyframes scroll-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0.2; /* Começa opaco */
    }
    100% {
      opacity: 1; /* Termina totalmente opaco */
    }
  }
  
/* responsavel pelas imagens de dentro do carrossel de images*/
.carousel-item img {
    width: 100%;
    height: 200px; /* Garante que a imagem ocupe a altura do item do carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    border-radius: 15px;
}
.carousel-inner {
    max-height: 400px; /* Ajuste a altura máxima do carrossel conforme necessário */
    overflow: hidden; /* Garante que o conteúdo que excede a altura seja ocultado */
}
.carousel-item {
    height: 100%; /* Garante que o item do carrossel ocupe toda a altura do carrossel */
}