@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Rubik+Bubbles&display=swap');

body {
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.imagem-exibicao {
    display: flex;
    justify-content: center; 
    align-items: start;    
}
.imagem-exibicao img{ 
    width: 100%;          
    border-radius: 15px;
}

/* definição de fonte afim de ser igual ao da Logo */
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
.titulo {
    color: rgb(11, 158, 11);
    font-size: 4rem;
    font-family: 'Gotham';
    font-weight: bold;
}

.subtitulo{
    color: rgb(0, 175, 9);
}

.description {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333; 
    text-align: center;
  }

#borda{  
    border: 5px solid darkorange;
    border-radius: 15px;
}

.nav-img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-align: center;
}

.navbar {
    background: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-toggler {
    border: none
}

footer {
    position: relative;
    color: #000000;
    padding: 20px;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Garante que o pseudoelemento ocupe toda a largura do footer */
    bottom: 0; /* Garante que o pseudoelemento ocupe toda a altura do footer */
    background-image: url('/imgs/artes/laranja_respingos.png');
    background-size: cover;
    background-position: center;
    opacity: 0.35; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca o pseudoelemento atrás do conteúdo do footer */
}

@media (min-width: 768px) {
    .borda-footer {
        border-right: 2px solid darkorange;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .borda-footer {
        border-right: none;
        border-bottom: 2px solid darkorange;
        margin-bottom: 20px;
    }
}


/* botao que contem logo/imagem presente no rodapé*/
.footer-logo{
    text-decoration: none;
    transition: transform 1.0s ease, filter 1.0s ease;
    width: 65%;
}

.footer-logo:hover img {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    filter: brightness(1.5); /* Aumenta o brilho em 50% */
}

/* tipo de botão que contem um icon como os de rede sociais*/
.icon {
    transition: transform 0.3s ease;
    height: 70px;
}
.icon#contato{
    height: 100px;
}
.icon:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Adiciona uma sombra */
}

/* tipo de botão que contem um texto*/
.custom-button {
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    width: fit-content;
    padding: 10px 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    display: inline-block; /* Exibe o botão como um elemento inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    border-radius: 8px; /* Cantos arredondados */
}

.custom-button:hover {
background-color: #45a049; /* Cor de fundo quando o cursor está sobre o botão */
}

/* garantia de responsividade para iframe da página de localização */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 por 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* Trecho responsavel por padronizar tudo que tem borda (telas que forem incorporadas) */
#borda{
    height: 40rem;
    width: 100%;
}

/* trecho responsavel para o bloco onde se encontra a origem da empresa. */
.styled-block {
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil para destaque */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    background-color: #fff; /* Fundo branco para destaque */
    transition: box-shadow 0.3s ease; /* Transição suave para sombra */
}

.styled-block:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Efeito de sombra ao passar o mouse */
}

.styled-block img {
    max-width: 100%;
    height: 10rem;
    margin-bottom: 15px;
    border-radius: 5px; /* Bordas arredondadas na imagem */
    box-sizing: border-box;
}

.styled-block p {
    margin: 0;
}

/* carrossel */
.carousel-item > .styled-block {
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borda sutil para destaque */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    background-color: #fff; /* Fundo branco para destaque */
    transition: box-shadow 0.3s ease; /* Transição suave para sombra */
    margin: 10px;
}
.carousel-item >.styled-block img{
    height: 100%;
    width: 100px;
}

/* Trecho que estiliza os botões do carrossel */
.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3); /* Fundo semitransparente */
    border-radius: 50%; /* Botões arredondados */
    top: 50%; /* Centralizando verticalmente */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #fff; /* Cor das setas */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro ao passar o mouse */
}

/* Centralizando horizontalmente */
.carousel-control-prev {
    left: 15px;
}

.carousel-control-next {
    right: 15px;
}

/* Trecho que faria o background de divisão de conteúdo do index.html */
/* .background {
    background-image: url('/imgs/artes/banner_eize.png');
    background-size: cover;
    background-position: top center;
    height: 10rem;
    display: flex;
    align-items: center;
    width: 100%;
    filter: brightness(0) invert(1);
    filter: opacity(0.75);
} */

.side-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    text-align: center;
}

.central-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.central-image img {
    height: 20rem;
}

/* Trecho que desenvolve o bloco de opiniões */
.opinions-container {
    background-color: #fff;
    padding: 2rem;
    /* formatação para exibir sombra completa da box */
    margin-right: 10px;
    margin-left: 10px;
    /*  */
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.opinions-container h2 {
    margin-bottom: 20px;
}

.opinions-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.opinions-container input,
.opinions-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
